@charset "UTF-8";
*{
    margin: 0; padding:0;
}

/* 화면전체 렙 */
.wrapper{
    width: 1900px;
}

/* content 렙 */
.wrap{
    width: 800px;
    margin: auto;
}

/* 페이지 제목 */
.subject{
    width: 100%;
    height: 120px;
    background-color: #8EC0E4;
}
.subject span{
    margin-left: 31px;
    font-size: 80px;
    font-weight: 900;
    color: white;
}

/* 아이디 영역 */
.id_wrap{
    width : 100%;
    margin-top: 20px;
}
.id_name{
    font-size: 25px;
    font-weight: bold;
}
.id_input_box{
    border: 1px solid black;
    height: 31px;
    padding: 10px 14px;
}
.id_input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 28px;
}